header {
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(38, 37, 118, 0.9);
  position: fixed;
  font-family: "Righteous", sans-serif;
  width: 100%;
  padding-top: 30px;
  opacity: 0.8;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  header {
    justify-content: space-between;
    flex-direction: row;
    height: 100px;
    padding: 0px;
  }
  header button {
    display: none;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  header button {
    display: flex;
  }
}

ul {
  list-style: none;
}

.header-top-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .header-top-container {
    width: -moz-fit-content;
    width: fit-content;
  }
}
.header-top-container .logo {
  width: 200px;
  margin-left: 50px;
}
@media (min-width: 768px) {
  .header-top-container .logo {
    margin-left: 50px;
  }
}
.header-top-container button {
  width: 60px;
  font-size: 25px;
  border: none;
  margin-right: 40px;
  background-color: #4fd3f7;
  color: #ffffff;
}
.header-top-container button:hover {
  color: #f6e66b;
}
.header-top-container button:active {
  color: rgba(38, 37, 118, 0.9);
}
@media (min-width: 992px) {
  .header-top-container button {
    display: none;
  }
}

.nav {
  display: none;
}
@media (min-width: 768px) {
  .nav {
    display: flex;
  }
  .nav .menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    justify-content: space-around;
  }
  .nav .menu li {
    margin-right: 45px;
  }
  .nav .menu li a {
    text-decoration: none;
    color: #ffffff;
  }
  .nav .menu li:hover {
    background-color: rgba(38, 37, 118, 0.9);
  }
  .nav .menu li:active {
    background-color: #fa84ec;
  }
}

.nav.visible {
  display: flex;
  width: 90%;
  align-self: center;
  justify-content: center;
}
.nav.visible .menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-size: 20px;
}
.nav.visible .menu li {
  margin-bottom: 10px;
  width: 100%;
}
.nav.visible .menu li:hover {
  background-color: rgba(38, 37, 118, 0.9);
}

.icon-container {
  display: none;
}
@media (min-width: 768px) {
  .icon-container {
    display: flex;
    font-size: 35px;
    margin-right: 60px;
  }
  .icon-container ul {
    display: flex;
  }
  .icon-container ul i {
    color: #ffffff;
    margin-right: 10px;
  }
  .icon-container ul i:hover {
    color: rgba(38, 37, 118, 0.9);
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: rgba(38, 37, 118, 0.9);
  font-size: 15px;
  width: 100%;
  background-color: #4fd3f7;
}
@media (min-width: 768px) {
  .footer-container {
    font-size: 20px;
  }
}
.footer-container .text-footer {
  width: 80%;
}
.footer-container .text-footer a {
  text-decoration: none;
  color: rgba(38, 37, 118, 0.9);
  font-weight: 900;
}
.footer-container .text-footer a:hover {
  font-size: 19px;
}
.footer-container .icons-footer {
  display: flex;
  font-size: 35px;
}
.footer-container .icons-footer ul {
  display: flex;
}
.footer-container .icons-footer ul i {
  color: #ffffff;
  margin-right: 10px;
}
.footer-container .icons-footer ul i:hover {
  color: rgba(38, 37, 118, 0.9);
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 150px;
  font-family: "Righteous", sans-serif;
  color: #ffffff;
  background-color: rgba(38, 37, 118, 0.9);
  --mask:
    radial-gradient(82.29px at 50% calc(100% - 116.1px),#000 99%,#0000 101%) calc(50% - 108px) 0/216px 100%,
    radial-gradient(82.29px at 50% calc(100% + 62.1px),#0000 99%,#000 101%) 50% calc(100% - 54px)/216px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
@media (min-width: 768px) {
  .hero-container {
    padding-top: 100px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .hero-container .left-container {
    width: 50%;
    align-self: center;
  }
}
.hero-container .left-container .text-container {
  display: flex;
  width: 90%;
  margin: auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (min-width: 768px) {
  .hero-container .left-container .text-container {
    width: 65%;
  }
}
.hero-container .left-container .text-container h1 {
  padding-top: 80px;
  font-size: 25px;
  margin-bottom: 10px;
}
.hero-container .left-container .text-container h1 .mi {
  color: #4fd3f7;
}
.hero-container .left-container .text-container h1 .lu {
  color: #f6e66b;
}
.hero-container .left-container .text-container h1 .li {
  color: #fa84ec;
}
.hero-container .left-container .text-container h2 {
  width: 90%;
  font-size: 35px;
  color: #f6e66b;
  margin-bottom: 15px;
}
.hero-container .left-container .text-container p {
  width: 90%;
  font-size: 20px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .hero-container .left-container .text-container p {
    font-size: 25px;
  }
}
.hero-container .left-container .text-container button {
  background-color: #fa84ec;
  border: none;
  border-radius: 15px;
  font-size: 25px;
  font-weight: 900;
  width: 200px;
  height: 70px;
  color: #ffffff;
  margin-bottom: 25px;
}
.hero-container .left-container .text-container button:hover {
  background-color: #4fd3f7;
  color: rgba(38, 37, 118, 0.9);
}
.hero-container .left-container .text-container button:active {
  background-color: #f6e66b;
  color: #ffffff;
}
.hero-container .right-container {
  display: flex;
}
@media (min-width: 768px) {
  .hero-container .right-container {
    width: 50%;
    border-radius: 19px 20% 20%;
  }
}
.hero-container .right-container img {
  align-self: center;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (min-width: 768px) {
  .hero-container .right-container img {
    border-radius: 80% 0% 0% 0%;
    opacity: 0.7;
    border: 2px solid #4fd3f7;
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: rgba(38, 37, 118, 0.9);
  padding-top: 35px;
  background: linear-gradient(180deg, rgba(38, 37, 118, 0.9) 90%, rgba(38, 37, 118, 0.9) 90.54%), url("../../../assets/bg-hero.jpg");
}
.about-container .text-container {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.about-container .text-container h3 {
  font-size: 40px;
}
@media (min-width: 768px) {
  .about-container .text-container h3 {
    font-size: 50px;
    margin-bottom: 60px;
  }
}
.about-container .text-container p {
  width: 90%;
  margin: auto;
  margin-top: 10px;
  font-size: 25px;
  margin-bottom: 80px;
}
@media (min-width: 768px) {
  .about-container .text-container p {
    width: 50%;
    font-size: 35px;
  }
}

.contacts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding-top: 35px;
  font-size: 25px;
}
.contacts-container .title {
  font-size: 40px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .contacts-container .title {
    font-size: 50px;
    margin-bottom: 60px;
  }
}
.contacts-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.contacts-container form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 86%;
}
@media (min-width: 768px) {
  .contacts-container form label {
    width: 40%;
  }
}
.contacts-container form .input {
  height: 28px;
}
@media (min-width: 768px) {
  .contacts-container form .input {
    height: 40px;
  }
}
.contacts-container form input,
.contacts-container form textarea {
  margin-top: 5px;
  font-size: 25px;
}
.contacts-container button {
  width: 150px;
  height: 70px;
  border-radius: 10px;
  font-size: 25px;
  color: #ffffff;
  background-color: #4fd3f7;
  margin-bottom: 35px;
}
.contacts-container button:hover {
  background-color: #4fd3f7;
  color: rgba(38, 37, 118, 0.9);
}
.contacts-container button:active {
  background-color: #f6e66b;
  color: #ffffff;
}/*# sourceMappingURL=index.css.map */