header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 40px 0 40px;
  background-color: DarkSlateGray;
  color: LightGray;
}
@media (min-width: 768px) {
  header {
    flex-direction: row;
    padding-right: 30px;
    align-items: center;
  }
  header .header-top-container {
    width: -moz-fit-content;
    width: fit-content;
  }
  header .header-top-container .logo {
    width: 60px;
  }
  header .header-top-container button {
    display: none;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  header .header-top-container button {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  header .nav {
    display: none;
  }
}
header ul {
  list-style: none;
}
header .header-top-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  header .header-top-container {
    width: -moz-fit-content;
    width: fit-content;
  }
}
header .header-top-container .logo {
  width: 60px;
}
header .header-top-container button {
  width: 60px;
  font-size: 25px;
  border: none;
  background-color: DarkSlateGray;
  color: LightGray;
}
header .header-top-container button:hover {
  color: Darkgrey;
}
header .header-top-container button:active {
  color: SlateGrey;
}
@media (min-width: 992px) {
  header .header-top-container button {
    display: none;
  }
}
header .nav {
  display: none;
}
@media (min-width: 768px) {
  header .nav {
    display: flex;
  }
  header .nav .menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    justify-content: space-around;
  }
  header .nav .menu li {
    margin-right: 45px;
  }
  header .nav .menu li:hover {
    background-color: SlateGrey;
  }
  header .nav .menu li:active {
    background-color: DarkSlateGrey;
  }
}
header .nav.visible {
  display: flex;
  width: 90%;
  align-self: center;
  justify-content: center;
}
header .nav.visible .menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-size: 20px;
}
header .nav.visible .menu li {
  margin-bottom: 10px;
  width: 100%;
}
header .nav.visible .menu li:hover {
  background-color: SlateGrey;
}
header .icon-container {
  display: none;
}
@media (min-width: 768px) {
  header .icon-container {
    display: flex;
    font-size: 35px;
  }
  header .icon-container ul {
    display: flex;
  }
  header .icon-container ul i {
    color: LightGray;
    margin-right: 10px;
  }
  header .icon-container ul i:hover {
    color: SlateGrey;
  }
}