<section id="about" class="about-container">
    <div class="text-container">
        <div>
            <h3 class="title">A <b class="mi">MI</b><b class="lu">LU</b><b class="li">LI</b>  </h3>
            <p class="about-text">
                Com uma década de experiência, a <b class="mi">MI</b><b class="lu">LU</b><b class="li">LI</b> é referência no ensino musical infantil na zona oeste do Rio de Janeiro. 
                Nossa missão é estimular o contato precoce das crianças com a música e as artes, proporcionando uma educação sensorial e 
                musical desde cedo. Criamos um ambiente especializado para a prática artística em família, combinando nossa expertise com novas oportunidades de engajamento e inclusão. 
                Conheça a <b class="mi">MI</b><b class="lu">LU</b><b class="li">LI</b> e 
                transforme o futuro de seus filhos hoje mesmo.
        </div>
    </div>
</section>
