
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 150px;
  font-family: "Righteous", sans-serif;
  color: $third-color;
  background: linear-gradient(180deg, rgba(38, 37, 118, 0.9)90%, rgba(38, 37, 118, 0.9) 90.54%), url('../../../assets/bg-hero.jpg');

  --mask:
    radial-gradient(82.29px at 50% calc(100% - 116.1px),#000 99%,#0000 101%) calc(50% - 108px) 0/216px 100%,
    radial-gradient(82.29px at 50% calc(100% + 62.1px),#0000 99%,#000 101%) 50% calc(100% - 54px)/216px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
  @include mq(m) {
    padding-top: 100px;
    width: 100%;
    height: 790px;
    flex-direction: row;
    justify-content: space-between;
  }
  .left-container {
    @include mq(m) {
      width: 50%;
      padding-top: 50px;
    }
    .text-container {
      display: flex;
      width: 90%;
      margin: auto;
      flex-direction: column;
      align-items: center;
      text-align: center;
      @include mq(m) {
        width: 65%;

      }
      h1 {
        padding-top: 80px;
        font-size: 25px;
        margin-bottom: 10px;
        .mi{
          color: $secondary-color;
        }
        .lu {
          color: $fifth-color;
        }
        .li {
          color: $fourth-color;
        }
      }
      h2 {
          width: 90%;
          font-size: 35px;
          color: $fifth-color;
          margin-bottom: 15px;
        }
      
      p {
        width: 90%;
        font-size: 20px;
        margin-bottom: 15px;
        @include mq(m) {
          font-size: 25px;
        }
      }
      
      button {
        background-color: $fourth-color;
        border: none;
        border-radius: 15px;
        font-size: 25px;
        font-weight: 900;
        width: 200px;
        height: 70px;
        color: $third-color;
        margin-bottom: 25px;
        &:hover {
          background-color: $secondary-color;
          color: $primary-color;
        }
        &:active {
          background-color: $fifth-color;
          color: $third-color;
        }
      }
    }
  }

  .right-container {
    display: flex;
    @include mq(m) {
      width: 50%;      
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 19px 20% 20%;
    }
    .hero-images-top {
      display: flex;
      flex-direction: row;
    }
    .hero-images-bottom {
      display: flex;
      justify-content: space-around;
      width: 80%;
      flex-direction: row;
    }
    .rotate-1 {
      transform: rotate(90deg);
    }

    .img-hero {
      @include mq(m) {
        width: 300px;
        height: 300px;
        aspect-ratio:1;
        display:inline-block;
        --g: 6px;   /* control the gap */
        --r: 42px;  /* control the circular shapes */
        background: 
          radial-gradient(var(--r) at left 50% bottom var(--r),green 95%,#0000),
          radial-gradient(calc(var(--r) + var(--g)) at calc(100% + var(--g)) 50%,#0000 95%,red) 
            top/100% calc(100% - var(--r)) no-repeat;
            img {
              border: 10px solid $secondary-color;

              --g: 6px;   /* control the gap */
              --r: 42px;  /* control the circular shapes */
              --_m: 
                radial-gradient(calc(var(--r) + var(--g)) at calc(100% + var(--g)) 50%,#0000 95%,#000) 
                  top/100% calc(100% - var(--r)) no-repeat, 
                radial-gradient(var(--r) at left 50% bottom var(--r),#000 95%,#0000);
              -webkit-mask: var(--_m);
                      mask: var(--_m);
            
            }
      }
    }

    .right-top-jigsaw {
      @include mq(m) {
        width: 300px;
        height: 300px;
        aspect-ratio: 1;
        display: inline-block;
        --g: 6px;   /* control the gap */
        --r: 42px;  /* control the circular shapes */
        background: 
          radial-gradient(var(--r) at left 50% bottom var(--r), green 95%, #0000),
          radial-gradient(calc(var(--r) + var(--g)) at calc(100% + var(--g)) 50%, #0000 95%, red) 
            top/100% calc(100% - var(--r)) no-repeat;
        transform: rotate(90deg); /* Adiciona rotação de 90 graus */
        
        img {
          --g: 6px;   /* control the gap */
          --r: 42px;  /* control the circular shapes */
          --_m: 
            radial-gradient(calc(var(--r) + var(--g)) at calc(100% + var(--g)) 50%, #0000 95%, #000) 
              top/100% calc(100% - var(--r)) no-repeat, 
            radial-gradient(var(--r) at left 50% bottom var(--r), #000 95%, #0000);
          -webkit-mask: var(--_m);
          mask: var(--_m);
        }
      }
    
      &.right-top-jigsaw {
        @include mq(m) {
          width: 270px; /* Ajuste conforme necessário para encaixar no da direita */
          height: 300px;
          aspect-ratio: 1;
          display: inline-block;
          border: 1px solid blue;
          --g: 6px;   /* control the gap */
          --r: 42px;  /* control the circular shapes */
          background: 
            radial-gradient(var(--r) at left 50% bottom var(--r), $fourth-color 95%, #0000),
            radial-gradient(calc(var(--r) + var(--g)) at calc(100% + var(--g)) 50%, #0000 95%, red) 
              top/100% calc(100% - var(--r)) no-repeat;
          transform: rotate(90deg); /* Adiciona rotação de 90 graus */
          
          img {
            border: 10px solid $fourth-color;
            width: 270px;
            --g: 6px;   /* control the gap */
            --r: 42px;  /* control the circular shapes */
            --_m: 
              radial-gradient(calc(var(--r) + var(--g)) at calc(100% + var(--g)) 50%, #0000 95%, #000) 
                top/100% calc(100% - var(--r)) no-repeat, 
              radial-gradient(var(--r) at left 50% bottom var(--r), #000 95%, #0000);
            -webkit-mask: var(--_m);
            mask: var(--_m);
          }
        }
      }
    }

    .right-bottom-jigsaw {
      @include mq(m) {
        @include mq(m) {
          width: 290px;
          height: 280px;
          aspect-ratio: 1;
          display: inline-block;
          --g: 6px;   /* control the gap */
          --r: 42px;  /* control the circular shapes */
          background: 
            radial-gradient(var(--r) at left 50% top var(--r), $fifth-color 95%, #0000),
            radial-gradient(calc(var(--r) + var(--g)) at calc(100% + var(--g)) 50%, #0000 95%, red) 
              bottom/100% calc(100% - var(--r)) no-repeat;
      
          img {
            border: 10px solid $fifth-color;
            --g: 6px;   /* control the gap */
            --r: 42px;  /* control the circular shapes */
            --_m: 
              radial-gradient(calc(var(--r) + var(--g)) at calc(100% + var(--g)) 50%, #0000 95%, #000) 
                bottom/100% calc(100% - var(--r)) no-repeat, 
              radial-gradient(var(--r) at left 50% top var(--r), #000 95%, #0000);
            -webkit-mask: var(--_m);
            mask: var(--_m);
          }
        }
      }
    }
    .jig-img {
      align-self: center;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .ukulele {
    width: 200px;
    align-self: center;
    justify-self: center;
  }
 
}
