
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 150px;
  font-family: "Righteous", sans-serif;
  color: $third-color;
  background-color: $primary-color;
  --mask:
    radial-gradient(82.29px at 50% calc(100% - 116.1px),#000 99%,#0000 101%) calc(50% - 108px) 0/216px 100%,
    radial-gradient(82.29px at 50% calc(100% + 62.1px),#0000 99%,#000 101%) 50% calc(100% - 54px)/216px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
  @include mq(m) {
    padding-top: 100px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .left-container {
    @include mq(m) {
      width: 50%;
      align-self: center;
    }
    .text-container {
      display: flex;
      width: 90%;
      margin: auto;
      flex-direction: column;
      align-items: center;
      text-align: center;
      @include mq(m) {
        width: 65%;

      }
      h1 {
        padding-top: 80px;
        font-size: 25px;
        margin-bottom: 10px;
        .mi{
          color: $secondary-color;
        }
        .lu {
          color: $fifth-color;
        }
        .li {
          color: $fourth-color;
        }
      }
      h2 {
          width: 90%;
          font-size: 35px;
          color: $fifth-color;
          margin-bottom: 15px;
        }
      
      p {
        width: 90%;
        font-size: 20px;
        margin-bottom: 15px;
        @include mq(m) {
          font-size: 25px;
        }
      }
      
      button {
        background-color: $fourth-color;
        border: none;
        border-radius: 15px;
        font-size: 25px;
        font-weight: 900;
        width: 200px;
        height: 70px;
        color: $third-color;
        margin-bottom: 25px;
        &:hover {
          background-color: $secondary-color;
          color: $primary-color;
        }
        &:active {
          background-color: $fifth-color;
          color: $third-color;
        }
      }
    }
  }

  .right-container {
    display: flex;
    @include mq(m) {
      width: 50%;
      border-radius: 19px 20% 20%;
    }
    img {
      align-self: center;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      @include mq(m) {
        border-radius: 80% 0% 0%  0%;
        opacity: 0.7;
        border: 2px solid $secondary-color;
      }
    }
  }
 
}
