@import '../../styles/utils/variables';
@import '../../styles/utils/mixin';

.hero-container {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  font-family: "Righteous", sans-serif;
  color: $third-color;
  height: fit-content;
  background: linear-gradient(180deg, rgba(38, 37, 118, 0.9)90%, rgba(38, 37, 118, 0.9) 90.54%), url('../../../assets/bg-hero.jpg');
  @include mq(m) {
    flex-direction: column;
    align-items:center ;
  }
  @include mq(xs) {
    flex-direction: row;
    align-items: flex-start ;
  }
  --mask:
    radial-gradient(100.8px at 50% calc(100% - 141px),#000 99%,#0000 101%) calc(50% - 120px) 0/240px 100%,
    radial-gradient(100.8px at 50% calc(100% + 81px),#0000 99%,#000 101%) 50% calc(100% - 60px)/240px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
  .left-container {
    @include mq(l) {
      width: 80%;
    }
    @include mq(xs) {
      display: flex;
      justify-content: flex-end;
      width: 50%;
    }
    .text-container {
      display: flex;
      width: 90%;
      margin: auto;
      flex-direction: column;
      align-items: center;
      text-align: center;
      @include mq(m) {
        width: 80%;

      }
      @include mq(xs) {
        margin: 0px;

      }
      h1 {
        padding-top: 80px;
        font-size: 25px;
        margin-bottom: 10px;
        .mi{
          color: $secondary-color;
        }
        .lu {
          color: $fifth-color;
        }
        .li {
          color: $fourth-color;
        }
      }
      h2 {
          width: 90%;
          font-size: 35px;
          color: $fifth-color;
          margin-bottom: 15px;
        }
      
      p {
        width: 90%;
        font-size: 20px;
        margin-bottom: 15px;
        @include mq(m) {
          font-size: 25px;
        }
      }
      
      button {
        background-color: $fourth-color;
        border: none;
        border-radius: 15px;
        font-size: 25px;
        font-weight: 900;
        width: 200px;
        height: 70px;
        color: $third-color;
        margin-bottom: 25px;
        &:hover {
          background-color: $hover-fourth-color;
        }
        &:active {
          width: 215px;
          height: 80px;
        }
      }
    }
  }
 
}
