<section id="hero" class="hero-container">
    <div class="left-container">
        <div class="text-container">
            <h1>Bem Vindo à <b class="mi">MI</b><b class="lu">LU</b><b class="li">LI</b> !
            </h1>
            <h2>Onde a Música e as Belas Artes Encantam desde a Infância
            </h2>
            <p> Na Miluli, mergulhamos na mágica da musicalização infantil,
                  acreditando que cada nota é um convite para a descoberta.
                  Com uma década de experiência, criamos um ambiente especializado que une a educação musical 
                  às Belas Artes, proporcionando uma jornada única de sensibilização auditiva, 
                  sensorial e musical para as crianças.
            </p>
            <button>Fale Conosco</button>
        </div>
    </div>
    <div class="right-container">
        <img src="../../../assets/hero-img.jpg" alt="Imagem criança pintando">
    </div>
</section>
<div class="cloud-div">
    -
  </div>