$primary-color : SlateGrey;

$secondary-color : DarkSlateGray;

$third-color : LightGray;

$fourth-color : #465F5F;

$fifth-color : Darkgrey;

$breakpoints : (
  "s": 576px,
  "m": 768px,
  "l": 992px,
  "xs": 1250px,
);