$primary-color : rgba(38, 37, 118, 0.9);

$secondary-color : #4fd3f7;

$third-color : #ffffff;

$fourth-color : #fa84ec;

$fifth-color : #f6e66b;

$hover-fourth-color : #f350e0;

$hover-fifth-color : #ebd73e;

$breakpoints : (
  "s": 576px,
  "m": 768px,
  "l": 992px,
  "xs": 1250px,
);

