<div class="right-container">
    <div class="hero-images-top">
        <div class="img-hero">
            <img src="../../../assets/hero-img.jpg" class="jig-img"   alt="Imagem criança pintando">
        </div>
        <div class="right-top-jigsaw">
          <img src="../../../assets/hero2.png" class="jig-img"   alt="Imagem criança pintando">
        </div>
    </div>
    <div class="hero-images-bottom">
        <div class="ukulele">
            <img src="../../../assets/ukulele.png" class="ukulele"  alt="Imagem criança pintando">

          </div>
          <div class="right-bottom-jigsaw">
            <img src="../../../assets/hero3.png" class="jig-img" alt="Imagem criança pintando">
          </div>
    </div>
</div>